<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186229997323-6sg07sji6ojps3ij8kd4p24ok2jj7mbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186229997323-6sg07sji6ojps3ij8kd4p24ok2jj7mbf</string>
	<key>API_KEY</key>
	<string>AIzaSyD_tFHxeAIOjDf1tZ0_depkacIqiGaPfxM</string>
	<key>GCM_SENDER_ID</key>
	<string>186229997323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alome</string>
	<key>PROJECT_ID</key>
	<string>alome-a545c</string>
	<key>STORAGE_BUCKET</key>
	<string>alome-a545c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186229997323:ios:66b7e028846b753e622c0e</string>
</dict>
</plist>